In [1]:
import pandas as pd
file_path = 'DA.xlsx'
df = pd.read_excel(file_path)
# Display the first five rows of the DataFrame.
print(df.head())

# Display the last five rows of the DataFrame.
print(df.tail())
print("Anmol Ranjan | 102069014")

   Year  MSHA ID                       Mine_Name  Production  Labor_Hours  \
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

   New_Col
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      Year   MSHA ID                                          Mine_Name  \
46    2013    103321                                     Poplar Springs
47    2013    103358                                          Old Union
48    2013   5000030                                           Usibelli
49    2013    201195                                       Kayenta Mine
50  100650  11558442  Tacoa Highwall MinerReid School MineNorth Rive...

    Production  Labor_Hours  New_Col
46      189370        76366      NaN
47      284563       161805      NaN
48     1631584       286079      NaN
49     7602722      1015333      NaN
50    27854323     11098816      0.0
Anmol Ranjan | 102069014

In [2]:
data_types = df.dtypes
print(data_types)
print("Anmol Ranjan | 102069014")

Year             int64
MSHA ID          int64
Mine_Name       object
Production       int64
Labor_Hours      int64
New_Col        float64
dtype: object
Anmol Ranjan | 102069014

In [3]:
columns_to_read = ['MSHA ID', 'Labor_Hours']
df = pd.read_excel('DA.xlsx', usecols=columns_to_read)
print(df.head())
print("Anmol Ranjan | 102069014")

   MSHA ID  Labor_Hours
0   103381        22392
1   103404        28447
2   100759       474784
3   103246        29193
4   103451        46393
Anmol Ranjan | 102069014

In [4]:
df = pd.read_excel('DA.xlsx')
sum_value = df['Production'].sum()
mean_value = df['Production'].mean()
max_value = df['Production'].max()
min_value = df['Production'].min()
print(f"Sum: {sum_value}")
print(f"Mean: {mean_value}")
print(f"Max: {max_value}")
print(f"Min: {min_value}")
print("Anmol Ranjan | 102069014")

Sum: 55708646
Mean: 1092326.3921568627
Max: 27854323
Min: 0
Anmol Ranjan | 102069014

In [6]:
df = pd.read_excel('DA.xlsx')
df.insert(5, 'Another_Col', value=pd.NA)
df.to_excel(file_path, index=False)
print(df.head())
print("Anmol Ranjan | 102069014")

   Year  MSHA ID                       Mine_Name  Production  Labor_Hours  \
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

  Another_Col  New_Col
0        <NA>      NaN
1        <NA>      NaN
2        <NA>      NaN
3        <NA>      NaN
4        <NA>      NaN
Anmol Ranjan | 102069014

In [7]:
df = pd.read_excel('DA.xlsx', skiprows=range(1,21))
print(df.head(50))
print("Anmol Ranjan | 102069014")

      Year   MSHA ID                                          Mine_Name  \
0     2013    103380                                             Calera
1     2013    103380                                             Calera
2     2013    103422                                    Clark No 1 Mine
3     2013    103467                                Helena Surface Mine
4     2013    101247                                          No 4 Mine
5     2013    101401                                          No 7 Mine
6     2013    103172                     Searles Mine No. 2, 3, 4, 5, 6
7     2013    103179                                Fleetwood Mine No 1
8     2013    103303                                       Shannon Mine
9     2013    103323                                      Deerlick Mine
10    2013    103364                              Brc Alabama No. 7 Llc
11    2013    103436                                   Swann's Crossing
12    2013    100347                                       Choctaw Mine
13    2013    101362                                    Manchester Mine
14    2013    102996                                     Jap Creek Mine
15    2013    103155                                 Corinth Prep Plant
16    2013    103155                                 Corinth Prep Plant
17    2013    103195                        Mccollum/Sparks Branch Mine
18    2013    103342                                Reese's Branch Mine
19    2013    103370                                Cresent Valley Mine
20    2013    103372                                    Cane Creek Mine
21    2013    103376                                         Town Creek
22    2013    103389                                   Carbon Hill Mine
23    2013    103410                                   Coal Valley Mine
24    2013    103423                                   Dutton Hill Mine
25    2013   1519322                                            Ghm #25
26    2013    103321                                     Poplar Springs
27    2013    103358                                          Old Union
28    2013   5000030                                           Usibelli
29    2013    201195                                       Kayenta Mine
30  100650  11558442  Tacoa Highwall MinerReid School MineNorth Rive...

    Production  Labor_Hours  Another_Col  New_Col
0            0        12621          NaN      NaN
1            0         1402          NaN      NaN
2       122727       140250          NaN      NaN
3        59664        30539          NaN      NaN
4      2622528      1551141          NaN      NaN
5      5405412      2464719          NaN      NaN
6       258078       119542          NaN      NaN
7        75937        63745          NaN      NaN
8       317491       164388          NaN      NaN
9       133452        46381          NaN      NaN
10           0        14324          NaN      NaN
11      137511        77190          NaN      NaN
12      537429       215295          NaN      NaN
13      219457       116914          NaN      NaN
14      375715       164093          NaN      NaN
15           0        27996          NaN      NaN
16           0        51994          NaN      NaN
17       71910        17411          NaN      NaN
18      263888       115123          NaN      NaN
19        2860          621          NaN      NaN
20       66258        32401          NaN      NaN
21      299167       176499          NaN      NaN
22       76241        84966          NaN      NaN
23      407841       158591          NaN      NaN
24       37275         9162          NaN      NaN
25       25054         3108          NaN      NaN
26      189370        76366          NaN      NaN
27      284563       161805          NaN      NaN
28     1631584       286079          NaN      NaN
29     7602722      1015333          NaN      NaN
30    27854323     11098816          NaN      0.0
Anmol Ranjan | 102069014

In [8]:
df = pd.read_excel('DA.xlsx')
sum_row = df.sum().to_frame().T
df = pd.concat([df, sum_row], ignore_index=True)
df.to_excel(file_path, index=False)
print(df.tail())
print("Anmol Ranjan | 102069014")

      Year   MSHA ID                                          Mine_Name  \
47    2013    103358                                          Old Union
48    2013   5000030                                           Usibelli
49    2013    201195                                       Kayenta Mine
50  100650  11558442  Tacoa Highwall MinerReid School MineNorth Rive...
51  201300  23116884  Tacoa Highwall MinerReid School MineNorth Rive...

   Production Labor_Hours Another_Col New_Col
47     284563      161805         NaN     NaN
48    1631584      286079         NaN     NaN
49    7602722     1015333         NaN     NaN
50   27854323    11098816         NaN     0.0
51   55708646    22197632         0.0     0.0
Anmol Ranjan | 102069014